[submodule "external/NuRaft"]
	path = external/NuRaft
	url = https://github.com/eBay/NuRaft.git
[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "external/grpc"]
	path = external/grpc
	url = https://github.com/grpc/grpc
